version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: weekly
      day: "sunday"
      time: "04:00"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    registries: "*"
    versioning-strategy: increase
    groups:
      frontend:
        patterns:
          - "*"
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-patch" ]

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: "sunday"
      time: "04:00"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
    cooldown:
      default-days: 7
    commit-message:
      prefix: "[docker] "
